
<!-- OPCIÓN 1 -->
<div class="contenedor_icono_opciones_emoticones">
    <div><i>x</i></div>
    <div><i>x</i></div>
    <div><i>x</i></div>
    <div><i>x</i></div>
  </div>
  
<ul>
  <li class="chat_input_iconos_item" id="abrir_contenedor_icono_opciones_emoticones"><i>x</i></li>
  <li class="chat_input_iconos_item" id="abrir_contenedor_icono_opciones_herramientas"><i>x</i>
    <!-- OPCIÓN 2 -->
    <div class="contenedor_icono_opciones_herramientas">
      <div><i>x</i></div>
      <div><i>x</i></div>
      <div><i>x</i></div>
      <div><i>x</i></div>
    </div>
  </li>
  <li class="chat_input_text"><input type="text" placeholder="Escribe un mensaje aquí."></li>
  <li><i></i>x</li>
</ul>