<div class="contenedor_whatsapp_chat_input_derecha">
  <ul>
    <li #contenedorOpcionesEmoticones class="chat_input_iconos_item" (click)="toggleEstadoOpcionesEmoticones()"><i>x</i>
      <!-- OPCIÓN 1 -->
      <div
        class="contenedor_icono_opciones_emoticones"
        [ngStyle]="{ 
          'transform': estadoOpcionesEmoticones ? 'translateY(0)' : 'translateY(100%)', 
          'display': estadoOpcionesEmoticones ? 'block' : 'none' }">
        <div><i>x</i></div>
        <div><i>x</i></div>
        <div><i>x</i></div>
        <div><i>x</i></div>
      </div>
    </li>
    <li #contenedorOpcionesHerramientas class="chat_input_iconos_item" (click)="toggleEstadoOpcionesHerramientas()">
      <i>x</i>
      <!-- OPCIÓN 2 -->
      <div class="contenedor_icono_opciones_herramientas"
        [style.display]="estadoOpcionesHerramientas ? 'block' : 'none'">
        <div><i>x</i></div>
        <div><i>x</i></div>
        <div><i>x</i></div>
        <div><i>x</i></div>
      </div>
    </li>
    <li class="chat_input_text"><input type="text" placeholder="Escribe un mensaje aquí."></li>
    <li><i></i>x</li>
  </ul>
</div>