.contenedor_whatsapp_chat_input_derecha {
    position: relative;
    width: 100%;
    height: var(--input-bottom-alto-computadora);
    display: flex;
}

ul {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 100%;
    padding: 5px 16px;
    z-index: 1000;
    background: var(--background-color-principal);
}

.chat_input_text {
    width: 100%;
}

input[type=text] {
    background-color: var(--background-color-secundario);
    width: 100%;
    padding: 10px 20px;
}

input[type=text]::placeholder {
    font-size: 14px;
}

.chat_input_iconos_item {
    position: relative;
}

/* EMOTICIONES */
.contenedor_icono_opciones_emoticones {
    position: absolute;
    overflow: visible;
    bottom: 0px;
    transform-origin: right top;
    transform: translateY(100%);
    background-color: var(--background-color-principal);
    width: 100%;
    transition: transform 0.5s ease;
}

/* HERRAMIENTAS */
.contenedor_icono_opciones_herramientas {
    position: absolute;
    opacity: 1;
    display: none;
    bottom: var(--input-bottom-alto-computadora);
    left: -16px;
    flex-direction: column;
    gap: 10px;
}

.contenedor_icono_opciones_herramientas div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: var(--sombra-opciones);
}