<ng-container *ngIf="contactoSeleccionado; else noContactoSeleccionado">
    <!-- CABECERA DERECHA -->
    <app-cabecera-derecha-componente [contactoSeleccionado]="contactoSeleccionado"></app-cabecera-derecha-componente>

    <div class="contenedor_caja_mensajes_input">
        <!-- CAJA MENSAJES DERECHA -->
        <app-caja-mensajes-derecha-componente class="contenedor_caja_mensajes"
            [contactoSeleccionado]="contactoSeleccionado"></app-caja-mensajes-derecha-componente>

        <!-- INPUT DERECHA -->
        <app-chat-input-derecha-componente class="contenedor_input_chat"></app-chat-input-derecha-componente>
    </div>

    <!-- MODAL VISUALIZADOR MULTIMEDIA -->
    <app-visualizador-multimedia-modal *ngIf="estadoModalVisualizadorChat"></app-visualizador-multimedia-modal>
</ng-container>

<ng-template #noContactoSeleccionado>
    <app-inicio-derecha-componente></app-inicio-derecha-componente>
</ng-template>