<ng-container *ngIf="contactoSeleccionado; else noContactoSeleccionado">
    <!-- CABECERA DERECHA -->
    <app-cabecera-derecha-componente
        [contactoSeleccionado]="contactoSeleccionado"></app-cabecera-derecha-componente>

    <!-- CAJA MENSAJES DERECHA -->
    <app-caja-mensajes-derecha-componente
        [contactoSeleccionado]="contactoSeleccionado"></app-caja-mensajes-derecha-componente>

    <!-- INPUT DERECHA -->
    <app-chat-input-derecha-componente></app-chat-input-derecha-componente>
</ng-container>

<ng-template #noContactoSeleccionado>
    <app-inicio-derecha-componente></app-inicio-derecha-componente>
</ng-template>