.contenedor_whatsapp_caja_mensajes_derecha {
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    padding: 20px 50px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }