<!-- CHAT ARCHIVADO -->
<div class="lista_chat_item">
    <div class="chat_item_imagen chat_item_archivado">
        <i>x</i>
    </div>
    <div class="chat_item_detalle">
        <div class="chat_item_nombre">
            <h4>Archivados</h4>
        </div>
    </div>
</div>

<!-- CHAT LISTA ITEM -->
<div class="lista_chat_item chat_activo">
    <div class="chat_item_imagen">
        <img src="assets/imagenes/perfiles/img1.jpg" class="perfil_imagen" alt="">
    </div>
    <div class="chat_item_detalle">
        <div class="chat_item_nombre">
            <h4>Jhon Doe</h4>
            <p class="chat_item_tiempo">10:56</p>
        </div>
        <div class="chat_item_mensaje">
            <p>How are you doing?</p>
        </div>
    </div>
</div>

<!-- CHAT LISTA ITEM -->
<div class="lista_chat_item chat_no_leido">
    <div class="chat_item_imagen">
        <img src="assets/imagenes/perfiles/img1.jpg" class="perfil_imagen" alt="">
    </div>
    <div class="chat_item_detalle">
        <div class="chat_item_nombre">
            <h4>Andre</h4>
            <p class="chat_item_tiempo">12:34</p>
        </div>
        <div class="chat_item_mensaje">
            <p>I love your youtube videos!</p>
            <b>1</b>
        </div>
    </div>
</div>

<!-- CHAT LISTA ITEM -->
<div class="lista_chat_item unread">
    <div class="chat_item_imagen">
        <img src="assets/imagenes/perfiles/img1.jpg" class="perfil_imagen" alt="">
    </div>
    <div class="chat_item_detalle">
        <div class="chat_item_nombre">
            <h4>Olivia</h4>
            <p class="chat_item_tiempo">Yesterday</p>
        </div>
        <div class="chat_item_mensaje">
            <p>I just subscribed to your channel</p>
            <b>2</b>
        </div>
    </div>
</div>

<!-- CHAT LISTA ITEM -->
<div class="lista_chat_item">
    <div class="chat_item_imagen">
        <img src="assets/imagenes/perfiles/img1.jpg" class="perfil_imagen" alt="">
    </div>
    <div class="chat_item_detalle">
        <div class="chat_item_nombre">
            <h4>Parker</h4>
            <p class="chat_item_tiempo">Yesterday</p>
        </div>
        <div class="chat_item_mensaje">
            <p>Hey!</p>
        </div>
    </div>
</div>

<!-- CHAT LISTA ITEM -->
<div class="lista_chat_item">
    <div class="chat_item_imagen">
        <img src="assets/imagenes/perfiles/img1.jpg" class="perfil_imagen" alt="">
    </div>
    <div class="chat_item_detalle">
        <div class="chat_item_nombre">
            <h4>Zoey</h4>
            <p class="chat_item_tiempo">18/01/2022</p>
        </div>
        <div class="chat_item_mensaje">
            <p>I'll get back to you</p>
        </div>
    </div>
</div>

<!-- CHAT LISTA ITEM -->
<div class="lista_chat_item">
    <div class="chat_item_imagen">
        <img src="assets/imagenes/perfiles/img1.jpg" class="perfil_imagen" alt="">
    </div>
    <div class="chat_item_detalle">
        <div class="chat_item_nombre">
            <h4>Josh</h4>
            <p class="chat_item_tiempo">17/01/2022</p>
        </div>
        <div class="chat_item_mensaje">
            <p>Congratulations</p>
        </div>
    </div>
</div>

<!-- CHAT LISTA ITEM -->
<div class="lista_chat_item">
    <div class="chat_item_imagen">
        <img src="assets/imagenes/perfiles/img1.jpg" class="perfil_imagen" alt="">
    </div>
    <div class="chat_item_detalle">
        <div class="chat_item_nombre">
            <h4>Dian</h4>
            <p class="chat_item_tiempo">15/01/2022</p>
        </div>
        <div class="chat_item_mensaje">
            <p>Thanks alot</p>
        </div>
    </div>
</div>

<!-- CHAT LISTA ITEM -->
<div class="lista_chat_item">
    <div class="chat_item_imagen">
        <img src="assets/imagenes/perfiles/img1.jpg" class="perfil_imagen" alt="">
    </div>
    <div class="chat_item_detalle">
        <div class="chat_item_nombre">
            <h4>Sam</h4>
            <p class="chat_item_tiempo">Yesterday</p>
        </div>
        <div class="chat_item_mensaje">
            <p>Did you finish the project?</p>
        </div>
    </div>
</div>

<!-- CHAT LISTA ITEM -->
<div class="lista_chat_item">
    <div class="chat_item_imagen">
        <img src="assets/imagenes/perfiles/img1.jpg" class="perfil_imagen" alt="">
    </div>
    <div class="chat_item_detalle">
        <div class="chat_item_nombre">
            <h4>Junior</h4>
            <p class="chat_item_tiempo">18/01/2022</p>
        </div>
        <div class="chat_item_mensaje">
            <p>Nice course</p>
        </div>
    </div>
</div>

<!-- CHAT LISTA ITEM -->
<div class="lista_chat_item">
    <div class="chat_item_imagen">
        <img src="assets/imagenes/perfiles/img1.jpg" class="perfil_imagen" alt="">
    </div>
    <div class="chat_item_detalle">
        <div class="chat_item_nombre">
            <h4>Zoey</h4>
            <p class="chat_item_tiempo">18/01/2022</p>
        </div>
        <div class="chat_item_mensaje">
            <p>I'll get back to you</p>
        </div>
    </div>
</div>

<!-- CHAT LISTA ITEM -->
<div class="lista_chat_item">
    <div class="chat_item_imagen">
        <img src="assets/imagenes/perfiles/img1.jpg" class="perfil_imagen" alt="">
    </div>
    <div class="chat_item_detalle">
        <div class="chat_item_nombre">
            <h4>Josh</h4>
            <p class="chat_item_tiempo">17/01/2022</p>
        </div>
        <div class="chat_item_mensaje">
            <p>Congratulations</p>
        </div>
    </div>
</div>

<!-- CHAT LISTA ITEM -->
<div class="lista_chat_item">
    <div class="chat_item_imagen">
        <img src="assets/imagenes/perfiles/img1.jpg" class="perfil_imagen" alt="">
    </div>
    <div class="chat_item_detalle">
        <div class="chat_item_nombre">
            <h4>Dian</h4>
            <p class="chat_item_tiempo">15/01/2022</p>
        </div>
        <div class="chat_item_mensaje">
            <p>Thanks alot</p>
        </div>
    </div>
</div>