<div class="contenedor_whatsapp_cabecera_derecha">
    <div class="whatsapp_cabecera_derecha">
        <i
        class="icono_primero_principal whatsapp_cabecera_derecha_icono_retroceder"
        (click)="cerrarContenedorWhatsappDerecha()" [innerHTML]="iconoCerrar">
        </i>
        <div class="cabecera_perfil_propio">
            <img src="assets/imagenes/perfiles/img1.jpg" alt="" class="perfil_imagen">
        </div>
        <h4>{{contactoSeleccionado?.name}}<br><span>En linea</span></h4>
    </div>
    <ul class="cabecera_iconos">
        <li class="cabecera_iconos_item"
            (click)="toggleContenedorWhatsappBuscar()">
            <i class="icono_primero_principal" [innerHTML]="iconoBuscar"></i>
        </li>
        <li class="cabecera_iconos_item"
            (click)="togglePlantillasMensajesSidebar()">
            <i class="icono_primero_principal" [innerHTML]="iconoChatLista"></i>
        </li>
        <li #contenedorOpcionesInfo class="cabecera_iconos_item" (click)="toggleEstadoOpcionesInfo()">
            <i class="icono_primero_principal" [innerHTML]="iconoOpciones"></i>
            <!-- OPCIONES INFO -->
            <div class="contenedor_opciones contenedor_icono_opciones_chat"
                [style.display]="estadoOpcionesInfo ? 'block' : 'none'">
                <ul>
                    <li class="contenedor_opciones_subtitulo contenedor_opciones_item_hover">Info. del contacto</li>
                    <li class="contenedor_opciones_subtitulo contenedor_opciones_item_hover">Seleccionar mensajes</li>
                    <li class="contenedor_opciones_subtitulo contenedor_opciones_item_hover">Cerrar chat</li>
                    <li class="contenedor_opciones_subtitulo contenedor_opciones_item_hover">Silenciar notificaciones
                    </li>
                    <li class="contenedor_opciones_subtitulo contenedor_opciones_item_hover">Mensajes temporales</li>
                    <li class="contenedor_opciones_subtitulo contenedor_opciones_item_hover">Eliminar chat</li>
                    <li class="contenedor_opciones_subtitulo contenedor_opciones_item_hover">Reportar</li>
                    <li class="contenedor_opciones_subtitulo contenedor_opciones_item_hover">Bloquear</li>
                </ul>
            </div>
        </li>
    </ul>
</div>