.contenedor_whatsapp_cabecera_derecha {
    position: relative;
    width: 100%;
    height: var(--cabecera-top-alto-computadora);
    background: var(--background-color-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

/* CABECERA */
.whatsapp_cabecera_derecha {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.whatsapp_cabecera_derecha_icono_retroceder {
    display: none;
}

.whatsapp_cabecera_derecha h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}

.whatsapp_cabecera_derecha h4 span {
    font-size: 13px;
    color: var(--color-icono-principal);
}

.cabecera_iconos {
    display: flex;
    gap: 15px;
}

.cabecera_iconos .cabecera_iconos_item {
    position: relative;
}

/* CONTENEDOR ICONO OPCIONES CHAT */
.contenedor_icono_opciones_chat {
    max-width: 340px;
    top: 36px;
    transform-origin: right top;
    right: 4px;
}

@media (max-width: 800px) {

    .whatsapp_cabecera_derecha_icono_retroceder {
        display: block;
    }

}