<div class="contenedor_whatsapp_cabecera_derecha">
    <div class="whatsapp_cabecera_derecha">
        <div class="cabecera_perfil_propio">
            <img src="assets/imagenes/perfiles/img1.jpg" alt="" class="perfil_imagen">
        </div>
        <h4>Qazi <br><span>En linea</span></h4>
    </div>
    <ul class="cabecera_iconos">
        <li class="cabecera_iconos_item" (click)="toggleContenedorWhatsappBuscar()"><i>x</i></li>
        <li
            #contenedorOpcionesInfo
            class="cabecera_iconos_item"
            (click)="toggleEstadoOpcionesInfo()">
            <i>x</i>
            <!-- OPCIÓN 3 -->
            <div
                class="contenedor_icono_opciones_chat"
                [style.display]="estadoOpcionesInfo ? 'block' : 'none'">
                <ul>
                    <li>Info. del contacto</li>
                    <li>Seleccionar mensajes</li>
                    <li>Cerrar chat</li>
                    <li>Silenciar notificaciones</li>
                    <li>Mensajes temporales</li>
                    <li>Eliminar chat</li>
                    <li>Reportar</li>
                    <li>Bloquear</li>
                </ul>
            </div>
        </li>
    </ul>
</div>