<div class="whatsapp_cabecera_derecha">
    <div class="cabecera_perfil_propio">
        <img src="assets/imagenes/perfiles/img1.jpg" alt="" class="perfil_imagen">
    </div>
    <h4>Qazi <br><span>En linea</span></h4>
</div>
<ul class="cabecera_iconos">
    <li class="cabecera_iconos_item" id="abrir_contenedor_whatsapp_derecha_opciones"><i>x</i></li>
    <li class="cabecera_iconos_item" id="abrir_contenedor_icono_opciones_chat"><i>x</i>
        <!-- OPCIÓN 3 -->
        <div class="contenedor_icono_opciones_chat">
            <ul>
                <li>Info. del contacto</li>
                <li>Seleccionar mensajes</li>
                <li>Cerrar chat</li>
                <li>Silenciar notificaciones</li>
                <li>Mensajes temporales</li>
                <li>Eliminar chat</li>
                <li>Reportar</li>
                <li>Bloquear</li>
            </ul>
        </div>
    </li>
</ul>