/* CONTENIDO MENSAJE */
span {
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
}

i {
    font-size: 1.2em;
    cursor: pointer;
    position: relative;
    top: 3px;
}

.enviado {
    color: #333333;
}

.recibido {
    color: #8696a0;
}

.leido {
    color: #53bdeb;
}

.fallo {
    color: #fb0000;
}