.contenedor_cabecera_buscar_derecha {
  position: relative;
  width: 100%;
  height: var(--cabecera-top-alto-computadora);
  background: var(--background-color-principal);
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-left: var(--boder-contenedor);
  gap: 15px;
}

.contenedor_cabecera_buscar_derecha span {
  font-size: 15px;
}