.whatsapp_mensaje_fechas {
  width: fit-content;
  background-color: white;
  margin: 5px auto;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 1px 0.5px rgba(11, 20, 26, .13);
  color: #667781;
  font-size: 14px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.whatsapp_mensaje {
  position: relative;
  display: flex;
  width: 100%;
  margin: 8px 0px;
  margin-bottom: 2px;
}

.mi_mensaje {
  justify-content: flex-end;
}

.amigo_mensaje {
  justify-content: flex-start;
}

.amigo_mensaje+.amigo_mensaje,
.mi_mensaje+.mi_mensaje {
  margin-top: 2px;
}

.amigo_mensaje+.mi_mensaje {
  margin-top: 8px;
}

/* CONTENEDOR MENSAJE */
.whatsapp_mensaje .contenedor_mensaje {
  position: relative;
  right: 0;
  max-width: 65%;
  padding: 12px;
  border-radius: 10px;
  font-size: 0.9em;
  box-shadow: 0 1px 0.5px rgba(11, 20, 26, .13);
}

.whatsapp_mensaje .contenedor_mensaje::before {
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
}

.mi_mensaje .contenedor_mensaje::before {
  right: -12px;
  background: linear-gradient(135deg,
      #dcf8c6 0%,
      #dcf8c6 50%,
      transparent 50%,
      transparent);
}

.amigo_mensaje .contenedor_mensaje::before {
  left: -12px;
  background: linear-gradient(225deg,
      #fff 0%,
      #fff 50%,
      transparent 50%,
      transparent);
}

.amigo_mensaje+.amigo_mensaje .contenedor_mensaje::before,
.mi_mensaje+.mi_mensaje .contenedor_mensaje::before {
  display: none;
}

.mi_mensaje .contenedor_mensaje {
  background: #dcf8c8;
  text-align: right;
}

.amigo_mensaje .contenedor_mensaje {
  background: #fff;
  text-align: left;
}

/* CONTENEDOR MENSAJE RESPUESTA */
.contenedor_mensaje_respuesta {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-height: 42px;
  max-height: 82px;
  overflow: hidden;
  border-radius: 7.5px;
  cursor: pointer;
  padding: 4px 12px 8px 8px;
  margin-bottom: 12px;
}

.mi_mensaje .contenedor_mensaje_respuesta {
  background: #d1f4cc;
}

.amigo_mensaje .contenedor_mensaje_respuesta {
  background: #f5f6f6;
}

.mi_respuesta {
  border-left: 4px solid #53bdeb;
}

.amigo_respuesta {
  border-left: 4px solid #06cf9c;
}

.contenedor_mensaje_respuesta span {
  font-size: 12px;
}

.mi_respuesta span {
  color: #53bdeb;
}

.amigo_respuesta span {
  color: #06cf9c;
}