<div class="whatsapp_mensaje mi_mensaje">
    <p>Hi <br><span>12:18</span><i>x</i></p>
</div>
<div class="whatsapp_mensaje amigo_mensaje">
    <p>Hey <br><span>12:18</span></p>
</div>
<div class="whatsapp_mensaje mi_mensaje">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br><span>12:15</span><i>x</i></p>
</div>
<div class="whatsapp_mensaje amigo_mensaje">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br><span>12:15</span></p>
</div>
<div class="whatsapp_mensaje amigo_mensaje">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br><span>12:15</span></p>
</div>
<div class="whatsapp_mensaje amigo_mensaje">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br><span>12:15</span></p>
</div>
<div class="whatsapp_mensaje mi_mensaje">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Eaque aliquid fugiat accusamus dolore qui vitae ratione optio sunt <br><span>12:15</span><i>x</i></p>
</div>
<div class="whatsapp_mensaje amigo_mensaje">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br><span>12:15</span></p>
</div>
<div class="whatsapp_mensaje mi_mensaje">
    <p>Lorem ipsum dolor sit amet consectetur <br><span>12:15</span><i>x</i></p>
</div>
<div class="whatsapp_mensaje amigo_mensaje">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br><span>12:15</span></p>
</div>
<div class="whatsapp_mensaje mi_mensaje">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br><span>12:15</span><i>x</i></p>
</div>
<div class="whatsapp_mensaje mi_mensaje">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br><span>12:15</span><i>x</i></p>
</div>
<div class="whatsapp_mensaje amigo_mensaje">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br><span>12:15</span></p>
</div>
<div class="whatsapp_mensaje mi_mensaje">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br><span>12:15</span><i>x</i></p>
</div>
<div class="whatsapp_mensaje amigo_mensaje">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br><span>12:15</span></p>
</div>
<div class="whatsapp_mensaje mi_mensaje">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br><span>12:15</span><i>x</i></p>
</div>
<div class="whatsapp_mensaje amigo_mensaje">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br><span>12:15</span></p>
</div>
<div class="whatsapp_mensaje mi_mensaje">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br><span>12:15</span><i>x</i></p>
</div>
<div class="whatsapp_mensaje amigo_mensaje">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br><span>12:15</span></p>
</div>