.contenedor_whatsapp_caja_mensajes_derecha {
  position: relative;
  width: 100%;
  height: calc(100% - 120px);
  padding: 20px 50px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.whatsapp_mensaje_fechas {
  width: fit-content;
  background-color: white;
  margin: 5px auto;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 1px 0.5px rgba(11, 20, 26, .13);
  color: #667781;
  font-size: 14px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.whatsapp_mensaje {
  position: relative;
  display: flex;
  width: 100%;
  margin: 8px 0px;
  margin-bottom: 2px;
}

.mi_mensaje {
  justify-content: flex-end;
}

.amigo_mensaje {
  justify-content: flex-start;
}

.amigo_mensaje+.amigo_mensaje,
.mi_mensaje+.mi_mensaje {
  margin-top: 2px;
}

.amigo_mensaje+.mi_mensaje {
  margin-top: 8px;
}

/* CONTENEDOR MENSAJE */
.whatsapp_mensaje .contenedor_mensaje {
  position: relative;
  right: 0;
  max-width: 65%;
  padding: 12px;
  border-radius: 10px;
  font-size: 0.9em;
  box-shadow: 0 1px 0.5px rgba(11, 20, 26, .13);
}

.whatsapp_mensaje .contenedor_mensaje::before {
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
}

.mi_mensaje .contenedor_mensaje::before {
  right: -12px;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  background: var(--background-color-mi-mensaje);
}

.amigo_mensaje .contenedor_mensaje::before {
  left: -12px;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  background: var(--background-color-amigo-mensaje);
}

.amigo_mensaje+.amigo_mensaje .contenedor_mensaje::before,
.mi_mensaje+.mi_mensaje .contenedor_mensaje::before {
  display: none;
}

.mi_mensaje .contenedor_mensaje {
  background: var(--background-color-mi-mensaje);
  text-align: right;
}

.amigo_mensaje .contenedor_mensaje {
  background: var(--background-color-amigo-mensaje);
  text-align: left;
}