.contenedor_whatsapp_inicio_derecha {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 28px;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    margin-top: 40px;
    font-size: 32px;
    font-weight: 300;
    line-height: 37.5px;
    color: #41525d;
}

p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #667781;
    text-align: center;
}

span {
    position: absolute;
    bottom: 40px;
    color: #8696a0;
    font-size: 14px;
    line-height: 20px;
}

@media (max-width: 800px) {

    /* CONTENEDOR WHATSAPP IZQUIERDA */
    .contenedor_whatsapp_inicio_derecha img {
        width: 300px;
    }

}