<ng-container *ngIf="contactoSeleccionado; else noContactoSeleccionado">
    <!-- CABECERA DERECHA -->
    <app-cabecera-derecha-componente></app-cabecera-derecha-componente>

    <app-caja-mensajes-derecha-componente [contactoSeleccionado]="contactoSeleccionado"></app-caja-mensajes-derecha-componente>

    <app-chat-input-derecha-componente></app-chat-input-derecha-componente>
</ng-container>

<ng-template #noContactoSeleccionado>
    <app-inicio-derecha-componente></app-inicio-derecha-componente>
</ng-template>