<!-- CONTENEDOR WHATSAPP PRINCIPAL -->
<div class="contenedor_whatsapp_principal">

   

    <!-- CONTENEDOR WHATSAPP NUEVO CHAT -->
    <div
        class="contenedor_whatsapp_nuevo_chat"
        [style.left]="obtenerEstadoContenedorWhatsappNuevoChat() ? '0' : '-100%'">
        <app-nuevo-chat-izquierda-componente></app-nuevo-chat-izquierda-componente>
    </div>

    <!-- CONTENEDOR WHATSAPP PERFIL -->
    <div
        class="contenedor_whatsapp_perfil"
        [style.left]="obtenerEstadoContenedorWhatsappPerfil() ? '0' : '-100%'">
        <app-perfil-izquierda-componente></app-perfil-izquierda-componente>
    </div>

    <!-- CONTENEDOR WHATSAPP IZQUIERDA -->
    <div
        class="contenedor_whatsapp_izquierda">
        <app-whatsapp-izquierda-componente>
        </app-whatsapp-izquierda-componente>
    </div>

    <!-- CONTENEDOR WHATSAPP DERECHA -->
    <div
    [ngClass]="{
        'contenedor_whatsapp_derecha': true, 
        'contenedor_whatsapp_derecha_mostrar': existeContactoSeleccionado() != null
        }">
        <app-whatsapp-derecha-componente></app-whatsapp-derecha-componente>
    </div>

    <!-- CONTENEDOR FILTRO SIDEBAR -->
    <div
        class="contenedor_filtro_sidebar"
        [style.max-width]="obtenerEstadoFiltroSidebar() ? '100%' : '0'">
        <app-filtro-sidebar></app-filtro-sidebar>
    </div> 

    <!-- CONTENEDOR PLANTILLAS MENSAJES SIDEBAR -->
    <div
        class="contenedor_plantillas_mensajes_sidebar"
        [style.max-width]="obtenerEstadoPlantillasMensajesSidebar() ? '100%' : '0'">
        <app-plantillas-mensajes-sidebar></app-plantillas-mensajes-sidebar>
    </div> 

    <!-- CONTENEDOR WHATSAPP BUSCAR -->
    <div 
        class="contenedor_whatsapp_buscar"
        [style.max-width]="obtenerEstadoContenedorWhatsappBuscar() ? '100%' : '0'">
        <app-buscar-derecha-componente></app-buscar-derecha-componente>
    </div>

</div>