<!-- CONTENEDOR WHATSAPP PRINCIPAL -->
<div class="contenedor_whatsapp_principal">

    <!-- CONTENEDOR WHATSAPP NUEVO CHAT -->
    <div
        #contenedorWhatsappNuevoChat
        class="contenedor_whatsapp_nuevo_chat"
        [style.left]="obtenerEstadoContenedorWhatsappNuevoChat() ? '0' : '-100%'">
        <app-nuevo-chat-izquierda-componente></app-nuevo-chat-izquierda-componente>
    </div>

    <!-- CONTENEDOR WHATSAPP PERFIL -->
    <div
        #contenedorWhatsappPerfil
        class="contenedor_whatsapp_perfil"
        [style.left]="obtenerEstadoContenedorWhatsappPerfil() ? '0' : '-100%'">
        <app-perfil-izquierda-componente></app-perfil-izquierda-componente>
    </div>

    <!-- CONTENEDOR WHATSAPP IZQUIERDA -->
    <div
        #contenedorWhatsappIzquierda
        class="contenedor_whatsapp_izquierda">
        <app-whatsapp-izquierda-componente>
        </app-whatsapp-izquierda-componente>
    </div>

    <!-- CONTENEDOR WHATSAPP DERECHA -->
    <div
    [ngClass]="{
        'contenedor_whatsapp_derecha': true, 
        'contenedor_whatsapp_derecha_mostrar': existeContactoSeleccionado() != null
        }">
        <app-whatsapp-derecha-componente></app-whatsapp-derecha-componente>
    </div>

    <!-- CONTENEDOR WHATSAPP BUSCAR -->
    <div 
        class="contenedor_whatsapp_buscar"
        [style.max-width]="obtenerEstadoContenedorWhatsappBuscar() ? '100%' : '0'">
        <app-buscar-derecha-componente></app-buscar-derecha-componente>
    </div>

</div>