<div class="contenedor_whatsapp_cabecera_izquierda">
    <div class="cabecera_perfil_propio">
        <img src="assets/imagenes/perfiles/user.jpg" alt="" class="perfil_imagen"
            (click)="toggleContenedorWhatsappPerfil()">
    </div>
    <ul class="cabecera_iconos">
        <li class="cabecera_iconos_item" (click)="abrirModalPausarChat()"><i class="icono_primero_principal"
                [innerHTML]="estadoPausadoChat ?  iconoPausa : iconoPlay"></i></li>
        <li class="cabecera_iconos_item"><i class="icono_primero_principal" [innerHTML]="iconoEstado"></i></li>
        <li class="cabecera_iconos_item" (click)="toggleContenedorWhatsappNuevoChat()">
            <i class="icono_primero_principal" [innerHTML]="iconoChat"></i>
        </li>
        <li #contenedorOpcionesPerfil class="cabecera_iconos_item" (click)="toggleEstadoOpcionesPerfil()">
            <i class="icono_primero_principal" [innerHTML]="iconoOpciones">x</i>
            <!-- OPCIONES PERFIL -->
            <div class="contenedor_opciones contenedor_icono_opciones_perfil"
                [style.display]="estadoOpcionesPerfil ? 'block' : 'none'">
                <ul>
                    <li class="contenedor_opciones_subtitulo contenedor_opciones_item_hover">Nuevo grupo</li>
                    <li class="contenedor_opciones_subtitulo contenedor_opciones_item_hover">Perfil</li>
                    <li class="contenedor_opciones_subtitulo contenedor_opciones_item_hover">Mensajes destacados</li>
                    <li class="contenedor_opciones_subtitulo contenedor_opciones_item_hover">Etiquetas</li>
                    <li class="contenedor_opciones_subtitulo contenedor_opciones_item_hover">Configuración</li>
                    <li class="contenedor_opciones_subtitulo contenedor_opciones_item_hover">Cerrar sesión</li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<app-motivo-pausar-chat-modal *ngIf="estadoModalPausarChat"
    [motivosDePausa]="motivosDePausa"></app-motivo-pausar-chat-modal>