.contenedor_whatsapp_cabecera_izquierda {
  position: relative;
  width: 100%;
  height: var(--cabecera-top-alto-computadora);
  background: var(--background-color-principal);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

/* CABECERA */
.cabecera_iconos {
  display: flex;
  gap: 15px;
}

.cabecera_iconos .cabecera_iconos_item {
  position: relative;
}

/* CONTENEDOR ICONO OPCIONES PERFIL */
.contenedor_icono_opciones_perfil {
  max-width: 340px;
  top: 24px;
  transform-origin: right top;
  right: 4px;
}