.contenedor_whatsapp_buscar_izquierda {
  position: relative;
  width: 100%;
  height: var(--buscador-alto-computadora);
  background: var(--background-color-secundario);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 15px;
  border-bottom: var(--boder-contenedor);
}

.contenedor_buscar_chat_input {
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--background-color-principal);
  border-radius: 8px;
  padding: 0px 20px;
}

.contenedor_buscar_chat_input input[type=text] {
  width: 95%;
  font-size: 13.4px;
  padding-left: 25px;
  height: 35px;
  background-color: var(--background-color-principal);
}

.contenedor_buscar_chat_filtro>i:first-child {
  position: relative;
}

/* CONTENEDOR ICONO OPCIONES FILTRO */
.contenedor_icono_opciones_filtro {
  max-width: 340px;
  top: 36px;
  transform-origin: left top;
}

@media (max-width: 800px) {

  /* CONTENEDOR ICONO OPCIONES FILTRO */
  .contenedor_icono_opciones_filtro {
    right: 18px;
    transform-origin: right top;
  }

}