<div class="contenedor_whatsapp_buscar_izquierda">
    <!-- CONTENEDOR INPUT BUSCAR -->
    <div class="contenedor_buscar_chat_input">
        <i class="icono_primero_secundario" [innerHTML]="iconoBuscar"></i>
        <input type="text" placeholder="Busca un chat o inicia uno nuevo.">
    </div>

    <!-- CONTENEDOR OPCIONES CHAT -->
    <div #contenedorOpcionesChats class="contenedor_buscar_chat_filtro" (click)="toggleEstadoOpcionesChats()">
        <i class="icono_primero_secundario" [innerHTML]="iconoFiltro"></i>
        <!-- OPCIONES CHATS -->
        <div class="contenedor_opciones contenedor_icono_opciones_filtro"
            [style.display]="estadoOpcionesChats ? 'block' : 'none'">
            <ul>
                <li class="contenedor_opciones_subtitulo">Chats</li>
                <li class="contenedor_opciones_subtitulo_no contenedor_opciones_item_hover">
                    <i class="icono_primero_secundario" [innerHTML]="iconoChatNoLeido"></i>
                    Chat no leídos
                </li>
                <li class="contenedor_opciones_subtitulo_no contenedor_opciones_item_hover">
                    <i class="icono_primero_secundario" [innerHTML]="iconoContacto"></i>
                    Contactos
                </li>
                <li class="contenedor_opciones_subtitulo_no contenedor_opciones_item_hover">
                    <i class="icono_primero_secundario" [innerHTML]="iconoContactoNoGuardado"></i>
                    Contactos no guardados
                </li>
                <li class="contenedor_opciones_subtitulo_no contenedor_opciones_item_hover">
                    <i class="icono_primero_secundario" [innerHTML]="iconoGrupo"></i>
                    Grupos
                </li>
                <li class="contenedor_opciones_subtitulo">Etiquetas</li>
                <li class="contenedor_opciones_subtitulo_no contenedor_opciones_item_hover">
                    <i class="icono_primero_secundario" [innerHTML]="iconoEtiqueta"></i>
                    Importante
                </li>
            </ul>
        </div>
    </div>
</div>